<h1>Quote</h1>

<!-- ToDo: Implement Loading spinner, so the user has feedback on what is happening -->

<p>"{{quote?.text}}"</p>
<p>- {{quote?.author}}</p>

<p *ngIf="errorMessage">{{errorMessage}}</p>

<button type="button" (click)="loadQuote()">Load new Quote!</button>
