p, h1 {
  text-align: center;
}

p {
  font-size: 1.05rem;
}

button {
  display: block;
  background-color: #3352C3;
  color: white;
  border: none;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  margin: 50px auto 0 auto;
  padding: 10px 30px;
}
